body{
    background-color: lightgray;
    margin: 0;
}

#root{
    font-size: 1em;
    background-color: white;
    width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px gray;
    box-sizing: border-box;
}

h1{
    text-align: center;
}


