body{
    background-color: lightgray;
    margin: 0;
}

h1, #root{
    font-size: 2em;
    background-color: white;
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 20px gray;
    box-sizing: border-box;
}

#root{
    min-height: 100vh;
}
